body {
    overflow-x: hidden;
}

/*User info*/
.user {
    font-size: 20px;
    color: white;
    transform: translate(0px, -120px);
}

.username {
    font-size: 25px;
    color: rgb(255, 255, 255);
    border: 1px solid white;
}


/*Logout button*/
.logoutbtn {
    border: 1px solid white;
    color: white;
    padding: 10px 36px;
    text-align: center;
    font-size: 16px;
    margin-left: 50px;
    opacity: 0.6;
}


.logoutbtn:hover {
    text-decoration: none;
    color: #4d1300;
    border: 1px solid white;
    background-color: white;
    opacity: 1;
}

/*Sidebar Background Image*/
.tm-sidebar {
    position: fixed;
    background-image: url('../img/sid.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}


/* Hide scrollbar */

.tm-sidebar {
    overflow-y: scroll;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE 10+ */
}

.tm-sidebar::-webkit-scrollbar {
    /* WebKit */
    width: 0;
    height: 0;
}

.tm-sidebar-sticky {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/*Customer Name Font*/

.tm-brand {
    font-size: 2.6rem;
}

.tm-brand-box {
    box-sizing: content-box;
    width: 100%;
    max-width: 230px;
    min-height: 160px;
    color: white;
    text-align: center;
    margin: 70px auto 90px;
}

.tm-double-border-1,
.tm-double-border-2 {
    border: 1px solid #fff;
    position: relative;
}

.tm-double-border-2 {
    top: 10px;
    left: 10px;
}

.tm-border-gray {
    border-color: #cdcecf;
}

.tm-box-pad {
    padding: 50px 55px;
}

.tm-brand {
    font-size: 34px;
    padding: 30px;
}
/*Nav Items Rectangle and Circle*/
.tm-main-nav{
    transform: translateY(-80px);
}


.menu-img {
   padding-top: 15px;
   padding-bottom: 25px;
   width: 150%;
   transform: translate(-55px,-60px);
}

.nav-item {
    text-align: left;
}

.nav-link span {
    display: inline-block;
    position: relative;
}

.nav-link .circle {
    margin-right: 5px;
    height: 10px;
    width: 10px;
    left: 0px;
    top: -1px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid #fff;
    transition: all 0.3s;
}

.nav-link .rect {
    height: 1px;
    width: 0px;
    left: 0;
    bottom: 5.5px;
    background-color: #fff;
    -webkit-transition: -webkit-transform 0.1s, width 0.6s;
    -moz-transition: -webkit-transform 0.1s, width 0.6s;
    transition: transform 0.1s, width 0.6s;
}

.nav-link {
    font-size: 1.25rem;
    padding-top: 12px;
    padding-bottom: 12px;
}

.nav-link .rect {
    opacity: 0;
    transition: all 0.3s ease;
}

.tm-sidebar .nav-item>a:hover span,
.tm-sidebar .nav-item>a:active span {
    background-color: sandybrown;
}

.nav-link .circle .active,
.nav-link:hover .circle {
    background-color: sandybrown;
    border: 2px solid sandybrown;
}

.nav-item .rect .active,
.nav-item a:hover .rect {
    opacity: 1;
    width: 30px;
}

.nav-link .circle .active,
.magic .circle {
    background-color: sandybrown;
    border: 2px solid sandybrown;
}

.nav-item .rect .active,
.magic .rect {
    opacity: 1;
    width: 30px;
}

.tm-social-links {
    margin-bottom: 27px;
}

.tm-social-link {
    width: 40px;
    height: 40px;
    color: black;
    background-color: white;
    margin: 8px;
    border-radius: 5px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tm-social-link:hover,
.tm-social-link:focus {
    background-color: #069;
    color: white;
}
/* side bar ends here */



/* CONTENT PARTS STARTS HERE */
/* del part  starts here */
.conf_insert_background {
    background: #eb5757; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #eb5757, #463a40); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #eb5757, #463a40);
}

.heading {
    font-weight: bold;
    text-align: center;
    color: white;
    padding-top: 40px;
}

.heading2, .head2{
    font-weight: bold;
    text-align: center;
    color: white;
    
}

.head3{
    font-weight: bold;
    font-style: italic;
    text-align: center;
    color: red;
    padding-top: 40px;
    
}

.container-insert {
    border-radius: 5px;
    background-color: #f2f2f2;
    margin: 20px;
    height: 400px;
}

.form{
    padding: 5px;
    padding-top: 50px;
}

#wrapper {
    width: 100%;
    height: 50px;
}

button {
    height: 50px;
    position: relative;
    margin: -20px -50px;
    width: 98px;
    top: 50%;
    left: 50%;
}

.del_col-45 {
    float: left;
    width: 50%;
    margin-top: 6px;
    transform: translate(250px, -15px);
}

.del_col-40 {
    float: left;
    width: 50%;
    margin-top: 6px;
    transform: translate(-100px, 0px);
}


.container-insert input[type=submit] {
    background-color: #990000;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transform: translate(26px, 0px);
   
}

.container-insert  input[type=submit]:hover{
    color:#990000;
    border: 2px solid #990000;
    background-color: white;
    text-decoration: none;
    font-size: 20px;
}


.cancelbtn{
    color:white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin-left: -15px;
    transition: 0.3s;
    background-color:  #2d5986;
}

.cancelbtn:hover {
    color:#2d5986;
    border: 2px solid #2d5986;
    background-color: white;
    text-decoration: none;
}

/* del part ends here */